h3.bcvh{
    margin-top:0 !important;
}

#cb_loaidulieu{
    width:234px !important;
}

.tlcb input.form-control{
    width:80px !important;
    margin-bottom:5px;
    margin-left:15px;
}
.icheckbox_flat-blue{
    margin-top:10px;
}