.trang2{
    
    color:#FF6C60;
    font-weight:bold;
    font-size: 16px;
}
.trang1{
     color:#00ff21;
     font-weight:bold;
     font-size: 16px;
}
.trang0{
     color:#000000;
     font-weight:bold;
     font-size: 16px;
 
}