<div class="" id="right1">
    <div class="panel panel-body col-lg-12 no-padding" id="metro_sub_menu">
        <div class="an_submenu hien">
            <i class="glyphicon glyphicon-backward" style="float:right" id="btn_hide"></i><!--glyphicon glyphicon-forward-->
            <!--<br/><span class="vertical-text">Menu</span>-->
        </div>
        <div class="col-lg-12">

            <div class="col-lg-6 b-teal menu_fav" id="tsvh_thaycongtodd" data-value="Chiso/thaycongtodiemdo">
                <div class="icon_metro_fav"></div>
                <div class="active_metro_sub" style="display:none"></div>
                <div class="text_metro_sub fav">
                    <br />Thay công tơ
                </div>
                <div class="activity pull-right">
                    <i class="fa fa-commenting comment-sub"></i>
                    <i class="fa fa-exclamation-circle info-sub"></i>
                </div>
            </div>
            <div class="col-lg-6 b-teal menu_fav" id="chiso_doctt" data-value="Vanhanh/doctucthoi">
                <div class="icon_metro_fav"></div>
                <div class="active_metro_sub" style="display:none"></div>
                <div class="text_metro_sub fav">
                    <br />Đọc tức thời
                </div>
                <div class="activity pull-right">
                    <i class="fa fa-commenting comment-sub"></i>
                    <i class="fa fa-exclamation-circle info-sub"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="tsvh_trangthaiketnoi" data-value="Vanhanh/trangthaiketnoi/trangthaiketnoi_tab">
            <div class="icon_metro"></div>
            <div class="active_metro_sub" style="display:none"></div>
            <div class="text_metro_sub">
                <br />Thống kê trạng thái kết nối
            </div>
            <div class="activity pull-right">
                <i class="fa fa-commenting comment-sub"></i>
                <i class="fa fa-exclamation-circle info-sub"></i>
            </div>

        </div>
        <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="tsvh_docdcu" data-value="Chiso/docdulieu_hhu">
            <div class="icon_metro"></div>
            <div class="active_metro_sub" style="display:none"></div>
            <div class="text_metro_sub">
                <br />Đọc dữ liệu từ DCU
            </div>
            <div class="activity pull-right">
                <i class="fa fa-commenting comment-sub"></i>
                <i class="fa fa-exclamation-circle info-sub"></i>
            </div>
        </div>
        <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="tsvh_bandoso" data-value="Vanhanh/bandoso">
            <div class="icon_metro"></div>
            <div class="active_metro_sub" style="display:none"></div>
            <div class="text_metro_sub">
                <br />Bản đồ số
            </div>
            <div class="activity pull-right">
                <i class="fa fa-commenting comment-sub"></i>
                <i class="fa fa-exclamation-circle info-sub"></i>
            </div>
        </div>
        <!--<div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="tsvh_thongkesanluong" data-value="Vanhanh/thongkesanluong">
            <div class="icon_metro"></div>
            <div class="active_metro_sub" style="display:none"></div>
            <div class="text_metro_sub">
                <br />Thống kê sản lượng
            </div>
            <div class="activity pull-right">
                <i class="fa fa-commenting comment-sub"></i>
                <i class="fa fa-exclamation-circle info-sub"></i>
            </div>
        </div>
        <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="tsvh_thongkelapdat" data-value="Vanhanh/thongkelapdat">
            <div class="icon_metro"></div>
            <div class="active_metro_sub" style="display:none"></div>
            <div class="text_metro_sub">
                <br />Thống kê lắp đặt
            </div>
            <div class="activity pull-right">
                <i class="fa fa-commenting comment-sub"></i>
                <i class="fa fa-exclamation-circle info-sub"></i>
            </div>
        </div>
        <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="chiso_thanhly" data-value="Chiso/thanhlydiemdo">
            <div class="icon_metro"></div>
            <div class="active_metro_sub" style="display:none"></div>
            <div class="text_metro_sub">
                <br />Thanh lý khách hàng
            </div>
            <div class="activity pull-right">
                <i class="fa fa-commenting comment-sub"></i>
                <i class="fa fa-exclamation-circle info-sub"></i>
            </div>
        </div>-->
    </div>
</div>
