.txx {
    padding-top: 2px;
}

.bong0 {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.bong1 {
    color: #4cff00;
    font-weight: bold;
    font-size: 16px;
}

.bong2 {
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
}

#tbl_ckbT thead tr th {
    background: #09f;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#tbl_ckbT {
    max-height: 300px;
    overflow-y: auto;
}

#higchart_bcbong {
    width: 852px;
    height: 400px;
}

