.backrow{
    background-color: red;
    
}
.btn#btnThucHien_cbtu,.btn#btnThucHien_cbden{
    margin-bottom:10px;
}
#txt_timkiemmodem {
    border-color: transparent;
    background-color: #e6e6e6;
    font-size: 1.6rem !important;
    width: 45%;
    border-radius: 3px;
    font-size: 10px !important;
    padding: 8px;
    margin-bottom:10px;
}
input[type="checkbox"]{
    height:18px;
    width:18px;
}
#tbl_ckbM thead tr th{
    background:#09f;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
}
.checkone_ckbmd{
    text-align:center;
}
#tbl_ckbM {
    max-height: 300px;
    overflow-y: auto;
}