<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!--<div class="user-panel">
            <div class="pull-left image">
                <img src="img/user3-128x128.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a ><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>-->

        <ul class="sidebar-menu">
            <li class="header">QUẢN LÝ HỆ THỐNG</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Quản lý Sổ ghi</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a  onclick="menuClick('taomoisoghi')"><i class="fa fa-plus"></i> Tạo mới sổ ghi</a></li>
                    <li><a href="#" onclick="menuClick('danhsachsoghi')" ><i class="fa fa-file-text-o"></i> Danh sách sổ ghi</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar"></i> <span>Quản lý chỉ số</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a ><i class="fa fa-calendar"></i> Lịch ghi chỉ số</a></li>
                    <li><a href="#"><i class="fa fa-refresh"></i> Cập nhật chỉ số định kỳ</a></li>
                    <li><a href="#"><i class="fa fa-check"></i> Xác nhận chỉ số</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Quản lý Hóa đơn</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#" onclick="menuClick('taomoihoadon')"><i class="fa fa-plus"></i> Lập hóa đơn</a></li>
                    <li><a href="#" onclick="menuClick('danhsachhoadon')"><i class="fa fa-file-text-o"></i> Danh sách hóa đơn</a></li>
                    <li><a href="#"><i class="fa fa-print"></i> In hóa đơn</a></li>
                    <li><a href="#"><i class="fa fa-eye"></i> Phúc tra chỉ số</a></li>
                    <li><a href="#" onclick="menuClick('chotchisodoigia')"><i class="fa fa-money"></i> Chốt chỉ số đổi giá</a></li>
                    <li><a href="#" onclick="menuClick('quanlymauhoadon')"><i class="fa fa-credit-card"></i> Quản lý hóa đơn mẫu</a></li>
                    <li><a href="#" ><i class="fa fa-check"></i> Xác nhận hóa đơn</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-th"></i> <span>Quản lý Khách hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-plus"></i> Thêm mới khách hàng</a></li>
                    <li><a href="#"><i class="fa fa-file-text-o"></i> Danh sách khách hàng</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-group"></i>
                    <span>Quản lý người dùng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-plus"></i> Thêm mới người dùng</a></li>
                    <li><a href="#"><i class="fa fa-file-text-o"></i> Danh sách người dùng</a></li>
                    <li><a href="#"><i class="fa fa-lock"></i> Phân quyền</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i>
                    <span>Quản lý Menu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#" onclick="menuClick('quanlymenu')"><i class="fa fa-plus"></i> Tạo menu</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!--<div data-include="modules/danhsachsoghi"></div>-->  