
table#tbl_nhapexcel tr td {
    border: none;
    padding: 10px;
}


table#tbl_nhapexcel tbody tr td input[type="text"], table#tbl_nhapexcel tbody tr td select, table#tbl_nhapexcel tbody tr td textarea {
    width: 200px !important;
    font-size: 13px !important;
    margin: 0;
}

.them_phieu {
    padding-top: 20px;
}

i.fa-them {
    cursor: pointer;
    color: #047514;
}

table#tbl_nhapexcel>tbody>tr>td{
    border-bottom:none !important;
    border-top:none !important;
}

label.filemau{
    float:right;
    cursor:pointer;
}