<div class="" id="right1">
    <div class="panel panel-body col-lg-12 no-padding" id="metro_sub_menu">
        <div class="an_submenu hien">
            <i class="glyphicon glyphicon-backward" style="float:right" id="btn_hide"></i><!--glyphicon glyphicon-forward-->
            <!--<br/><span class="vertical-text">Menu</span>-->
        </div>
        <div class="col-lg-12">
            <!--<div class="col-lg-6 b-teal menu_fav" id="chiso_tlngaychot" data-value="Chiso/thietlapngaychot">
                <div class="icon_metro_fav"></div>
                <div class="active_metro_sub" style="display:none"></div>
                <div class="text_metro_sub fav">
                    <br />Thiết lập ngày chốt chỉ số
                </div>
                <div class="activity pull-right">
                    <i class="fa fa-commenting comment-sub"></i>
                    <i class="fa fa-exclamation-circle info-sub"></i>
                </div>
            </div>-->

            <div class="col-lg-6 b-teal menu_fav" id="chiso_xemcs" data-value="Chiso/xemchisodinhky">
                <div class="icon_metro_fav"></div>
                <div class="active_metro_sub" style="display:none"></div>
                <div class="text_metro_sub fav">
                    <br />Chỉ số định kỳ
                </div>
                <div class="activity pull-right">
                    <i class="fa fa-commenting comment-sub"></i>
                    <i class="fa fa-exclamation-circle info-sub"></i>
                </div>
            </div>
        </div>


        <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="chiso_cmis1" data-value="Chiso/dongbocmissdinhky">
            <div class="icon_metro"></div>
            <div class="active_metro_sub" style="display:none"></div>
            <div class="text_metro_sub">
                <br />Đồng bộ CMIS
            </div>
            <div class="activity pull-right">
                <i class="fa fa-commenting comment-sub"></i>
                <i class="fa fa-exclamation-circle info-sub"></i>
            </div>
        </div>

        <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="chiso_kh" data-value="Chiso/nhapkhachhangtucmiss">
            <div class="icon_metro"></div>
            <div class="active_metro_sub" style="display:none"></div>
            <div class="text_metro_sub">
                <br />Nhập thông tin khách hàng từ CMIS
            </div>
            <div class="activity pull-right">
                <i class="fa fa-commenting comment-sub"></i>
                <i class="fa fa-exclamation-circle info-sub"></i>
            </div>
        </div>

    

        <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="chiso_thaycto" data-value="Chiso/thaycongtocmis">
            <div class="icon_metro"></div>
            <div class="active_metro_sub" style="display:none"></div>
            <div class="text_metro_sub">
                <br />Thay công tơ từ CMIS
            </div>
            <div class="activity pull-right">
                <i class="fa fa-commenting comment-sub"></i>
                <i class="fa fa-exclamation-circle info-sub"></i>
            </div>
        </div>
        <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="chiso_hhu" data-value="Chiso/docdulieu_hhu">
            <div class="icon_metro"></div>
            <div class="active_metro_sub_sub" style="display:none"></div>
            <div class="text_metro_sub">
                <br />Xuất nhập chỉ số HHU
            </div>
            <div class="activity pull-right">
                <i class="fa fa-commenting comment-sub"></i>
                <i class="fa fa-exclamation-circle info-sub"></i>
            </div>
        </div>

       
    </div>
</div>
