#qldm input,
#qldm select,
#qldm button{
    margin-bottom:5px;
}
.col-lg-1{
    padding:0px;
    width:50px;
}
.btn_chuyendiemdo{
    width:100%;
    padding-top:250px;
}
.btn_chuyendiemdo i{
    font-size:20px;
    background:#0094ff;
    padding:5px;
    cursor:pointer;
    color:#fff;
    border-radius:3px;
    margin-top:5px;
    line-height:20px;
}
.table_diemdo{
    height: 482px;
    max-height: 462px;
    overflow:auto;
    border:1px solid #ccc;
}
.table_diemdo_nhan{
    height: 610px;
    max-height: 590px;
    overflow:auto;
    margin-bottom:15px;
    border:1px solid #ccc;
}
label.filter_tsvh{
    /*margin-left:10px;*/
}
.table-hover tbody tr:hover{
    background:#ff6a00 !important;
    cursor:pointer;
    color:#fff;
}
/*.scroll {
  border: 0;
  border-collapse: collapse;
}

.scroll tr {
  display: flex;
}

.scroll td {
  padding: 3px;
  flex: 1 auto;
  border: 1px solid #aaa;
  width: 1px;
  word-wrap: break;
}

.scroll thead tr:after {
  content: '';
  overflow-y: scroll;
  visibility: hidden;
  height: 0;
}

.scroll thead th {
  flex: 1 auto;
  display: block;
  border: 1px solid #000;
}

.scroll tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  height: 200px;
}*/
