<div class="" id="right1">
    <div class="panel panel-body col-lg-12 no-padding" id="metro_sub_menu">
        <div class="an_submenu hien">
            <i class="glyphicon glyphicon-backward" style="float:right" id="btn_hide"></i><!--glyphicon glyphicon-forward-->
            <!--<br/><span class="vertical-text">Menu</span>-->
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="cb_vanhanh" data-value="cb_vanhanh/cb_vanhanhtab">
                <div class="icon_metro"></div>
                <div class="active_metro_sub" style="display:none"></div>
                <div class="text_metro_sub">
                    <br />Cảnh báo vận hành
                </div>
                <div class="activity pull-right">
                    <i class="fa fa-commenting comment-sub"></i>
                    <i class="fa fa-exclamation-circle info-sub"></i>
                </div>
            </div>
            <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="cb_matdien" data-value="">
                <div class="icon_metro"></div>
                <div class="active_metro_sub" style="display:none"></div>
                <div class="text_metro_sub">
                    <br />Cảnh báo mất điện
                </div>
                <div class="activity pull-right">
                    <i class="fa fa-commenting comment-sub"></i>
                    <i class="fa fa-exclamation-circle info-sub"></i>
                </div> 
            </div>
            <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="cb_sukiencongto" data-value="Canhbao/sukiencongto">
                <div class="icon_metro"></div>
                <div class="active_metro_sub" style="display:none"></div>
                <div class="text_metro_sub">
                    <br /> Sự kiện công tơ
                </div>
                <div class="activity pull-right">
                    <i class="fa fa-commenting comment-sub"></i>
                    <i class="fa fa-exclamation-circle info-sub"></i>
                </div>
            </div>
            <div class="col-lg-6 bg-aqua-sub menu_metro_sub" id="cb_thongtindiemdo" data-value="Canhbao/canhbaothongtindiemdo">
                <div class="icon_metro"></div>
                <div class="active_metro_sub" style="display:none"></div>
                <div class="text_metro_sub">
                    <br /> Cảnh báo thông tin điểm đo
                </div>
                <div class="activity pull-right">
                    <i class="fa fa-commenting comment-sub"></i>
                    <i class="fa fa-exclamation-circle info-sub"></i>
                </div>
            </div>

        </div>
</div>
    </div>
