 .chart {
    width: 100%;
    float: left;
}
 .titleChart {
  background-color: white;
    color: #555;
    font-size: 17px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    float: left;
}
