table.tbl-info tbody tr td{
    vertical-align:top !important;
    padding:10px;
}
.input-group{
    /*padding:5px;*/
    width:100%;
}
#doimatkhau{
    cursor:pointer;
}
.padding-bottom-50{
    padding-bottom:50px;
}