#sukiencongto_ thead tr th{
    vertical-align:top;
}
.td_donvi{
    width:90px;
}

/*.table-wrapper { 
    overflow-y:auto;
    width:1300px;
}


td, th {
    width: 90px;
}

th:first-child {
    position: fixed;
    left: 5px
}*/

