table#tbl_nhaptay tr td {
    border: none;
    padding: 0px;
}

table#tbl_nhaptay input,table#tbl_nhaptay select, table#tbl_nhaptay textarea {
width:220px;
}


.them_phieu{
    padding-top:20px;
}
i.fa-them{
    cursor:pointer;
    color:#047514;
}
.c{text-align:center}
#myTableData_nhaphdsua td{vertical-align:middle !important}
#myTableData_sua_kbhd tbody tr td input[type="text"], #myTableData_sua_kbhd tbody tr td select, #myTableData_sua_kbhd tbody tr td textarea {
    width: 165px !important;
    font-size: 14px;
}