.td_stt {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

td {
    white-space: nowrap;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.cmis_view1{
    padding: 5px;
    border: 1px solid #00a9ff;
    display: inline-block;
    height: 186px;
    border-right: none;}
.cmis_view2{
    padding: 5px;
    border: 1px solid #00a9ff;
    display: inline-block;
    height: 186px;
}
.filecmis{padding: 10px;border: 1px solid #00a9ff;border-bottom:none}
.filter_cmis{float: left;margin: 10px;color: #015b88; margin-top: 5px;font-weight: bold;}