

#kq_tabledd{
     margin-top: 5px !important;
       max-height: 120px;
    overflow: auto;
}
#kq_tabledd a{
  color: #015b88;
  font-weight: bold;
}
#map {
    width: 100%;
    height: 100%;
    background-color: grey;
}
#kq_map{
    background:#ccc;
}
.locpanel{
    height:33%;
}
.kttdl {
	padding:10px;
}
.kqtable{margin-top:10px;}